.log{
    padding: 160px;
}

.reg{
    margin-top: 150px;
}

.logbg{
    background-color: hsl(0, 0%, 73%);
}

.loginc:hover {
    background-color: #ffffff!important; /* Cambiar el color de fondo a blanco */
    color: #000000!important; /* Cambiar el color del texto a negro */
}

.logreg{
    text-decoration-line: none;
}

.logreg:hover {
    background-color: #2d972b!important; /* Cambiar el color de fondo a verde */
    
}

.logout{
    margin-left: 200px;
}

.formCel{
    margin-left: 500px;
}

